@model BookStoreWebApp.Model.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model?.EmailSent == true)
        {


            <div class="alert alert-info" role="alert">
                <p>If you are register with us. <br /> An email sent to you registered email id.</p>
            </div>

        }
        else
        {
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Continue" class="btn btn-primary" />
                </div>
            </form>

        }

    </div>
</div>

<div>
    <a asp-action="Login" asp-controller="Accoutn">Back to Login</a>
</div>

